[alias]
    ad = add
    bl = blame
    br = branch
    ci = commit
    co = checkout
    cp = cherry-pick
    fe = fetch
    lg = log --stat
    rb = pull --rebase --autostash
    st = status
    sh = show
    patch = format-patch

[user]
	name = Yong Wang
	email = wangyong@ymatrix.cn

[push]
	default = simple

[url "git://"]
	insteadOf = https://

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
