functor
lambda
reference
externc
basic_type
1
a.out
array
basic
destor
fileop
mmap
shadow
snprintf_test
struct
template
template_a.o
template.o
testfile
tsc
heap
float
macro
externc
linecross
ctor
desinatorlist
nestvec
concept

basic_type
dso2
invalidpointer
const
smart_pointer
override
c11
float_binary
static_lib
static_extern
full
printf
align
dso
ld_order
weak_symbol
float
gdb
gdbt
ld_test
array_const
test
test_static
union
mmap
destor
define
builtin
array
struct
snprintf_test
fileop
tsc
basic
init
zigzag
linecross
shadow
numeric
template
bitfield
desinatorlist
externc
static_inherit
setw
ctor
format
nestvec
heap
a
invocable
enum
reference
forloop
t
