2d_accum_inter
danger
accum_2d_array
jolly
fibonacci
pick_apple
matches
rock–paper–scissors
reverse_order
total_price
avg_grade
avg_sample
avg_balance
max_span
power
fibonacci_v2
compound_interest
division
multiples
multiple_table
